@import 'scss/reset';
@import 'scss/base';
@import 'scss/color';

body {
  background-color: $dark-blue;
  padding: 15px;
}

.card {

  background-color: $dark-grayish-blue;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  position: relative;

  &-header {
    color: $neon-green;
    letter-spacing: 0.5em;
    font-size: 14px;
  }

  &-body {
    color: $light-cyan;
    margin: 1em 0;
  }

  &-separator {
    margin: 2em 0;
  }

  &-action {
    position: absolute;
    bottom: -32px;

    button {
      background-color: $neon-green;
      padding: 20px;
      border-radius: 50%;
    }
  }
}
