@import 'scss/reset';
@import 'scss/base';
@import 'scss/color';

body {
  background-color: $dark-blue;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {

  background-color: $dark-grayish-blue;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  align-items: center;
  position: relative;

  &-header {
    margin-top: 2em;
    color: $neon-green;
    letter-spacing: 0.5em;
    font-size: 14px;
  }

  &-body {
    color: $light-cyan;
    margin: 1em 2em;
  }

  &-separator {
    height: 16px;
    width: 100%;
    background-image: url("/assets/images/pattern-divider-mobile.svg");
    background-size: contain;
    background-position: center;
    margin-bottom: 60px;

  }

  &-action {
    position: absolute;
    bottom: -32px;

    button {
      background-color: $neon-green;
      padding: 20px;
      border-radius: 50%;

      &:hover {
        box-shadow: 0 0 20px $neon-green;
      }
    }
  }
}

@media only screen and (min-width: 376px) {
  .card {
    width: 50vw;

    &-separator {
      background-image: url("/assets/images/pattern-divider-desktop.svg");
    }
  }
}
